.TodoItem {
    list-style: none;
    display: flex;
    align-items: center;
    border: 2px solid #AAAAAA;
    border-radius: 3px;
    margin-bottom: 20px;
    height: 50px;
    padding: 0 10px;
    overflow: hidden;
    color: #777777;
}
.TodoItem:hover:not(.TodoItem--completed) {
    background-color: #edf3fd;
    font-weight: 600;
    color: #999999;
}
.TodoItem--completed {
    border-color: #DDDDDD;
}
.TodoItem-p {
    flex-grow: 2;
    margin: 0 10px;
}
.TodoItem--completed .TodoItem-p {
    color: #AAAAAA;
    font-style: italic;
}
.TodoItem-check i, .TodoItem-delete i{
    font-size: 1.1rem;
    cursor: pointer;
    color:#AAAAAA;
}
.TodoItem--completed .TodoItem-check i{
    color: #8ff8a9;
}
.TodoItem-check i:hover {
    color: #3ae464;
}
.TodoItem-delete {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.TodoItem-delete i {
    cursor: pointer;
    color: #fa9daf;
}
.TodoItem-delete i:hover {
    color: #ff375f;
}
.TodoItem-delete i::after {
    content: 'Eliminar';
    font-size: .35rem;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    transition: bottom .2s;
    color:#ff375f;
}
.TodoItem-delete i:hover::after {
    bottom: 4px;
}