.TodoForm {
    background-color: #FFFFFF;
    padding: 20px 30px;
    border-radius: 5px;

}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}
textarea {
    margin-bottom: 30px;
    height: 100px;
    width: 500px;
    resize: none;
    padding: 5px 10px;
    box-sizing: border-box;
}
.buttonContainer {
    display: flex;
    justify-content: center;
    gap:30px
}
.TodoFormButton {
    padding: .8em 2em;
    border-radius: 3px;
    border: none;
    color: #FFFFFF;
    font-weight: 600;
    cursor: pointer;
}
.form-button-cancel {
    background-color: #d60f0f;
}
.form-button-cancel:hover {
    background-color: #AA0000;
}
.form-button-add {
    background-color: #0f52ae;
}
.form-button-add:hover {
    background-color: #04367b;
}