.TodoForm {
    background-color: #FFFFFF;
    padding: 20px 30px;
    border-radius: 5px;

}
label {
    display: block;
    margin-bottom: 20px;
    font-weight: 600;
    color:#777777;
}
textarea {
    margin-bottom: 30px;
    height: 100px;
    width: 500px;
    resize: none;
    padding: 5px 10px;
    border: 2px solid #AAAAAA;
    color: #5d8ac8;
}
textarea::placeholder {
    color: #AAAAAA;
}
textarea:focus {
    outline-color: #5d8ac8;
    background-color: #d4e4f9;
}
textarea:focus::placeholder {
    color: #95b8e8;
}
.buttonContainer {
    display: flex;
    justify-content: center;
    gap:30px
}
.TodoFormButton {
    padding: .8em 2em;
    border-radius: 3px;
    border: none;
    color: #FFFFFF;
    font-weight: 600;
    cursor: pointer;
}
.form-button-cancel {
    background-color: #ff375f;
}
.form-button-cancel:hover {
    background-color: #d42e2e;
}
.form-button-add {
    background-color: #73a2e3;
}
.form-button-add:hover {
    background-color: #2b5ca1   ;
}