html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}
.wrapper {
  display: flex;
  justify-content: center;
  background-color: #DDDDDD;
  width: 100vw;
  min-height: 100vh;
}
.ContainerTodo {
  border: 2px solid #AAAAAA;
  padding: 10px 50px 80px;
  margin: 30px 0;
  position: relative;
  background-color: #FFFFFF;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}