.CreateTodoButton {
    background-color: #73a2e3;
    color: #FFFFFF;
    border:none;
    display: inline-block;
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    font-size: 50px;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.5s;
    z-index: 1;
}
.CreateTodoButton:hover {
    background-color: #2b5ca1;
    transform: rotate(90deg);
}
.CreateTodoButton--close {
    background-color: #bb1515;
    transform: rotate(45deg);
    border: 2px solid #fefeab;
    box-shadow: 0 0 20px rgba(255, 255, 132, 0.8), 0 0 5px inset rgba(255,255,132,0.8);
    color:#fefeab;
}
.CreateTodoButton--close:hover {
    background-color: #930101;
    transform: rotate(45deg);
}