input {
    border: 2px solid #AAAAAA;
    padding: 15px 10px;
    border-radius: 4px;
    color: #5d8ac8;
    width: 100%;
    margin-bottom: 20px;
    background-color: #EEEEEE;
    font-style: italic;
    font-weight: 600;
}
input::placeholder {
    color: #AAAAAA;
}
input:focus {
    outline-color: #5d8ac8;
    background-color: #d4e4f9;
}
input:focus::placeholder {
    color: #95b8e8;
}